<div>
    <p>The email: <%= @email %>
    <br/>
    <%# <p>The link: <%= BackendWeb.Router.Helpers.auth_path(BackendWeb.Endpoint, :verify_email, email_verification_token: @email_verification_token, email: @email) %></p> %>
    <br/>
    <%= link "Verify your email!", to: "#{BackendWeb.Endpoint.url}#{BackendWeb.Router.Helpers.auth_path(BackendWeb.Endpoint, :verify_email, email_verification_token: @email_verification_token, email: @email)}" %>
</div>